@charset "utf-8";
/* CSS Document */
#article_add_table {
	margin-left:15px;	
}
.ui-datepicker{
		font-size:12px;	
		font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
	}
	.ui-datepicker-calendar td {
		font-size:12px;	
		font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
	}
	
	#material_head_filter_table {
		
	}
	#material_head_filter_table td{
		font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
		font-size:12px;	
	}
	.filter_controls {
		width:200px;
		margin-left:2px;
		padding:4px;
		font-size:14px;	
	}
	#add_material_button {
		padding:5px;
		cursor:pointer;	
		border:1px solid #999;
		background-color:#CAD4DF;
		font-family: Tahoma, sans-serif;
		font-size:12px;
		border:1px solid #CCC;
		background-image:url(../../../../jpanel/jpanel_img/add.png);
		background-position:3px 4px;
		background-repeat:no-repeat;
		padding-left:20px;
	}
	#action_head_name {
		height:25px;
		padding-left:12px;
		
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD2DBE4', endColorstr='#FFBDC8D6');
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2dbe4), color-stop(100%, #bdc8d6));
		background-image: -webkit-linear-gradient(#d2dbe4, #bdc8d6);
		background-image: -moz-linear-gradient(#d2dbe4, #bdc8d6);
		background-image: -o-linear-gradient(#d2dbe4, #bdc8d6);
		background-image: -ms-linear-gradient(#d2dbe4, #bdc8d6);
		background-image: linear-gradient(#d2dbe4, #bdc8d6);
		font-family:Arial, Helvetica, sans-serif;
		font-size:15px;
		font-weight:bold;	
	}
	#action_head_btn {
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD2DBE4', endColorstr='#FFBDC8D6');
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2dbe4), color-stop(100%, #bdc8d6));
		background-image: -webkit-linear-gradient(#d2dbe4, #bdc8d6);
		background-image: -moz-linear-gradient(#d2dbe4, #bdc8d6);
		background-image: -o-linear-gradient(#d2dbe4, #bdc8d6);
		background-image: -ms-linear-gradient(#d2dbe4, #bdc8d6);
		background-image: linear-gradient(#d2dbe4, #bdc8d6);
	}
	
	#az_table td, #ru_table td,#en_table td { border-bottom:1px solid #dddddd; }
	#az_table, #ru_table,, #en_table { border:1px solid #dddddd; }
	#name_az , #name_ru , #name_en  { width:490px; }
	#title_az , #title_ru, #title_en { width:680px; }
	#description_az, #description_ru, #description_en { width:680px; height:180px; }
	#text_az , #text_ru, #text_en {  }
	#tags_az,#tags_ru,#tags_en { width:680px; height:50px; }
	
	.description {
		width:690px; height:180px;
	}
	.text {
		width:680px;	
		height:580px;
	}
	
	
	
	#mater_table td a { color:#000000; text-decoration:none ; }
	#mater_table tr:hover { background-color:#f5f5f5;}
	
	/* css for timepicker */
	.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	.ui-timepicker-div dl { text-align: left; }
	.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
	.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
	.ui-timepicker-div td { font-size: 90%; }
	.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
	
	.ui-timepicker-rtl{ direction: rtl; }
	.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
	.ui-timepicker-rtl dl dt{ float: right; clear: right; }
	.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
	
	#section_menu_td {
		height:30px;
	}
	#section_menu_td a {
		padding:5px 7px 5px 7px;
		text-decoration:none;
		cursor: pointer;
		background-color: #CAD4DF;
		font-family: Tahoma, sans-serif;
		font-size: 12px;
		background-position: 3px 4px;
		background-repeat: no-repeat;
		margin-right:8px;
		margin-left:5px;
		color:#000000;
		
	}
	#section_menu_td a:hover {
		border:1px solid #000000;	
	}
	
	#selected_section_link {
		border:1px solid #000000;	
	}
	
	.material_langs {
		margin-top:15px;
		margin-left:10px;	
	}
	
	#department_select {
		padding:5px;	
	}
	
	
	#material_gallery_table {
		border-collapse:collapse;
		margin-bottom:15px;
	}
	#material_gallery_input {
		width:350px;
	}
	#material_gallery_input_big {
		width:350px;
	}
	.material_gallery_delete_img {
		cursor:pointer;
	}
	.material_gallery_img_td img {
		border:1px solid #DDDDDD;
	}
	#material_gallery_upload {
		cursor:pointer;
	}
	.material_gallery_delete_td {
		text-align:center;
	}
	
	.catfilter {
		border:1px solid #9ABFD9;
		background-color:#DDE4EE;
		padding:5px 6px;
		color:#555252;
		
		margin:5px 6px;
		display:inline-block;
		text-decoration:none;	
		
		-moz-border-radius: 10px; /* Firefox */
		  -webkit-border-radius: 10px; /* Safari, Chrome */
		  -khtml-border-radius: 10px; /* KHTML */
		  border-radius: 10px; /* CSS3 */
	}
	.filterselect {
		background-color:#81F7A4;
	}