@charset "utf-8";
/* CSS Document */






#order_sent {
	border:1px solid #093;
	padding:3px;
	color:#FFFFFF;	
	background-color:#0C3;	
}
.order_types {
	border:1px solid #093;
	padding:5px 5px 5px 5px;
	color:#FFFFFF;	
	background-color:#0C3;
	text-decoration:none;
}
#order_types_active {
	background-color:#DE4241
}


/* css for timepicker */
	.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	.ui-timepicker-div dl { text-align: left; }
	.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
	.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
	.ui-timepicker-div td { font-size: 90%; }
	.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
	
	.ui-timepicker-rtl{ direction: rtl; }
	.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
	.ui-timepicker-rtl dl dt{ float: right; clear: right; }
	.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
	
	.ui-datepicker{
		font-size:12px;	
		font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
	}
	.ui-datepicker-calendar td {
		font-size:12px;	
		font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
	}